doctype html
head
    meta(charset='UTF-8')
    title Strona główna
    link(rel='stylesheet' href='../public/styles/home.css')

include common/navbar.pug

section.main-section
    .column1
        for wycieczka in wycieczki
            .small-section-trip
                img.small-image(src='../public/static/' + wycieczka.obrazek style='width:150px')
                .small-section-trip-no-image
                    .small-text
                        a(href='/wycieczka/' + wycieczka.id)
                            h1=wycieczka.nazwa
                        p=wycieczka.krotki_opis
                            br
                        p= 'Dostępne miejsca: ' + wycieczka.liczba_dostepnych_miejsc
                        p= 'Cena: ' + wycieczka.cena
                    .rezerwuj-button
                        a.blue-button(href='/formularz/' + wycieczka.id) Zarezerwuj

    .column2
        h2 Promocje

        for wycieczka in wycieczki
            .narrow-column2-context
                h3=wycieczka.nazwa
                p
                    | - #{wycieczka.promocja} %
                    a(href='/formularz/' + wycieczka.id) Rezerwuj

        h2 Porady
        .links
            a.link(href='/#') Co zabrać na wycieczkę?
            a.link.white(href='/#') Kiedy najlepiej wyjechać?
            a.link(href='/#') Jakie buty są najwygodniejsze?

include common/footer.pug
