doctype html
-let path = __dirname
head
    link(rel='stylesheet' href='/../public/styles/wycieczka.css')
    meta(charset='UTF-8')
    title Wycieczka

include common/navbar.pug

-let image_path = '/../public/static/' + (wycieczka ? wycieczka.obrazek : '')


section.first-par
    div
        img(src=image_path style='float: left' alt='Obrazek')
    h1.main-title #{wycieczka.nazwa}
    h3 #{tydzien ? 'Tydzień ' + tydzien : ''}

    br
    p.paragraph-special
        | #{wycieczka.opis}
    br
    .text-section

    h3 #{wycieczka.nazwa}
    p #{wycieczka.krotki_opis}
section.second-par

    .small-text-section
        h3.header Jeszcze jeden nagłówek
        p
            | To jest opis wycieczki, w którym określone są zalety miejsca, które się odwiedzi.
            | Ponieważ to tylko przykład, nie ma tu konkretnych informacji.

    .small-text-section
        h3  Istotne informacje:
        ul
            li data rozpoczęcia: #{new Date(wycieczka.data_poczatku).toLocaleDateString()}
            li data zakończenia: #{new Date(wycieczka.data_konca).toLocaleDateString()}
            li temperatury w miejscu docelowym: takie w sam raz
            li warto zabrać: trochę ubrań na zmianę
            li cena wycieczki to: #{wycieczka.cena} zł
            li wolne miejsca: #{wycieczka.liczba_dostepnych_miejsc}
    .small-text-section
        h3  Program wycieczki:
        ol
            li Odwiedziny w miejscu
            li Obiad
            li Wyprawa
section.footer
    .footer-container
        a.button-3(href='/') Powrót
        a.button-3(href='/formularz/')  Zarezerwuj
